
.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 120px;
  background-color: var(--gray2);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  padding: 5px 0px;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 102;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 13.5px;
  line-height: 1;
  color: var(--gray11);
  display: flex;
  align-items: center;
  height: 32px;
  cursor: pointer;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
}

.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--gray10);
  pointer-events: none;
}

.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--gray3);
  color: var(--gray12);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--orange11);
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes slideUpAndFade {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-4px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(4px);
  }
  to {
    transform: translateX(0);
  }
}